amqp==5.2.0
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.3.8
filelock==3.13.1
Flask==3.0.2
fsspec==2024.2.0
identify==2.5.35
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
kombu==5.3.5
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
nodeenv==1.8.0
numpy==1.26.4
packaging==23.2
platformdirs==4.2.0
pre-commit==3.6.2
prompt-toolkit==3.0.43
psutil==5.9.8
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
show-in-file-manager==1.1.4
six==1.16.0
sympy==1.12
torch==2.2.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.0
vine==5.1.0
virtualenv==20.25.1
wcwidth==0.2.13
Werkzeug==3.0.1
